
body{
    background-image:url('fondo_pagina_1.jpg');
    background-size: 100%;
}
.texto_inicio{
  color: #ffde52;
    background-color: #b71c1c;


}
.bt1{
    width: 275px;
    height: 125px;

}
#button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 44;
    -moz-border-radius: 44;
    border-radius: 44px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 35px;
    border: solid #c41313 2px;
    text-decoration: none;
}

#button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#buttonEspecial {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    border: solid #c41313 2px;
    text-decoration: none;
}

#buttonEspecial:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#vertical-bar2 {
    border-left: 1px solid #ccc;
    width:4px;
    height:370px;
    position: relative;
    left: 50%;
}
#vertical-bar {
    border-left: 2px solid #ccc;
    width:1px;
    height:190px;
    position: relative;
    left: 50%;
}
.ir-arriba {
    display:none;
    padding:20px;
    background: #b71c1c;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}
.ir-atras {
    padding:20px;
    background: #2d95ff;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: sticky;
    bottom:20px;

}
#table1{
    border: solid #b71c1c;

}
.rowRef{
    border: solid #a2ddff;
    width: 100%;
    position: relative;
    left: 0%;
}
#buttonOpciones{
    position: relative;
    left: 2%;
}
.fotoLogoBackus{
    position: relative;
    left: 2%;
}

.fotoBackus1{
    position: relative;
    left: 18%;
}





// FIX SIDENAV SPACING
   .side-nav li>a {
       padding: 0 16px;
   }
//FIX SIDEBAR DIVIDERS
  .side-nav .divider {
      margin:0;
      height:8px;
      border-bottom:1px solid #e0e0e0;
      background-color: transparent;
  }

// SIDENAV HEADER
   .sidenav-header {
       background: url("../images/user-bg.jpg") no-repeat center center;
       background-size: cover;
       margin-bottom: 0px;
       padding: 15px 0 0 15px;
.row {
    margin-bottom: 0;
}
}
.sidenav-footer {
    margin-bottom: 0px;
    padding: 0;
.row {
    margin-bottom: 0;
.social-icons {
a {
    opacity: 0.5;
    padding: 0;
    text-align:center;
&:hover {
     background-color:inherit;
     opacity: 1;
 }
}
}
}
}


